/* .wordContainer {
  display: grid;
  gap: 8px;
  width: calc(3* 8px + 4* 150px);
  height: calc(3* 8px + 4* 80px);
  grid-template-columns: repeat(4, 1fr);
  min-height: 0;
  min-width: 0;
} */

.boardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: calc(3 * 8px + 4 * 150px);
  height: calc(3 * 8px + 4 * 80px);
}

@media only screen and (max-width: 640px) {
  /* .wordContainer {
    width: calc(3* 8px + 4* 22.5vw);
    height: calc(3* 8px + 4* 22.5vw);
  } */

  .boardContainer {
    width: calc(3* 8px + 4* 22.5vw);
    height: calc(3* 8px + 4* 22.5vw);
  }

}